@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--overpass);
}

:root{
    --vlred: hsl(13, 100%, 72%);
    --lred: hsl(353, 100%, 62%);
    --ubuntu: ubuntu;
    --overpass: Overpass;
    --dgblue: hsl(237, 17%, 21%);
    --dsblue: hsl(237, 23%, 32%);
    --dbblue: hsl(240, 10%, 16%);
    --dg2blue:hsl(207, 13%, 34%);
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header{
    background: no-repeat 23% 50%/200% url('./images/bg-pattern-intro.svg'),linear-gradient(55deg, var(--vlred) 20% , var(--lred)) ;
    position: relative;
    border-collapse: separate;
    padding: 2rem 0;    
}

header > div{
    width: 85%;
    margin: 0 auto;
}

nav{
    display: flex;
    height: 50px;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav > div:nth-child(2){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

nav > div.logo{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav > div.logo > img{
    width: 85%;
    height: auto;
}

nav > div > ul{
    display: flex;
    width: 35%;
    font-family: var(--ubuntu);
    list-style-type: none;
    justify-content: space-between;
}

nav > div > ul > li{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

nav > div > ul > li > a{
    text-align: left;
    font-size: .89rem;
    font-weight: 700;
    margin: 0 .3rem;
}

nav > div > ul > li > div.arrow{
    display: flex;
    text-align: center;
    align-self: center;
}

nav > div > ul > li > ul{
    list-style-type: none;
    position: absolute;
    top: 150%;
    background: white;
    padding: .5rem ;
    text-align: left;
    left: 0;
    width: 100%;
    border-radius: .2rem;
    display: none;
}

nav > div > ul > li > ul > a > li{
    width: 100%;
    color: black;
    font-weight: lighter;
    font-size: .8rem;
    margin: .5rem 0;
}

nav > div > div.register{
    display: flex;
    width: 30%;
    text-align: right;
}

nav > div > div.register > a{
    width: 50%;
}

button{
    padding: 10% 20%;
    border-radius: 30px;
    border: none;
    background: none;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    font-weight: 700;
    font-family: var(--ubuntu);
}

button.sign-up{
    color: var(--lred);
    background: white;
}

div.mobilenav{
    display: none;
}

div.hero{
    width: 90%;
    margin: 5rem auto;
    text-align: center;
    color: white;
}

div.hero h1{
    width: 100%;
    font-size: 3rem;
    margin: .9rem 0;
}

div.hero p{
    font-size: 1.2rem;
}

div.hero > div.register{
    display: flex;
    justify-content: center;
    margin: 2.5rem auto;
}

div.hero > div.register > a{
    margin: 0 .3rem;
}

div.hero > div.register > a > button{
    padding: 1rem 1.8rem;
    border-radius: 30px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: .9rem;
    max-width: 100%;
    font-weight: 700;
    font-family: var(--ubuntu);
}

div.hero > div.register > a:nth-child(1) > button{
    color: var(--lred) ;
    background: white;
}

section.about{
    padding: .2rem;
    margin: 6rem 0 3rem 0;
    overflow: hidden;
}

section.about > div{
    width: 80%;
    margin: 0 auto;
}

section.about > div > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 135%;
}
section.about > div > div >main {
    width: 40%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

section.about > div > div >h2{
    width: 80%;
    margin: 3rem 0;
    text-align: center;
}

section.about > div > div > main > div{
    width: 100%;
    margin: 3rem 0;
}

section.about > div > div > main > div > h3{
    font-size: 1.5rem;
    margin: 1rem 0;
}

section.about > div > div > main > div > p{
    font-weight: 300;
    word-spacing: .1rem;
    line-height: 1.3rem;
}

section.about > div > div > aside{
    width: 50%;
}

section.about > div > div > aside > div{
    position: relative;
    top: -15%;
    width: auto;
}
section.about > div > div > aside > div >img{
    width: 100%;
}

.sfeature{

    background: no-repeat -10rem -30rem/55rem  url('./images/bg-pattern-circles.svg'),linear-gradient(90deg, var(--dbblue), var(--dsblue));
    border-radius: 0 5rem 0 5rem;
    max-height: 450px;
    margin: 19rem auto;
}

.sfeature > div{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.sfeature > div > div{
    position: relative;
    width: 50%;
    top: -3.5rem;
}

.sfeature > div > div.illustration > img{
    width: 100%;
    height: auto;
}

.sfeature > div > div:nth-child(2){
    width: 50%;
    color: white;
    margin: 1.5rem 0;
    padding: 9rem 0;
}

.sfeature > div > div:nth-child(2) > h2{
    margin: 1rem 0;
}

.sfeature > div > div:nth-child(2) > p{
    line-height: 2rem;
}

section.features{
    padding: .2rem;
    margin: 10rem 0;
    overflow: hidden;
}


section.features > div{
    right: 0%;
    width: 100%;
}
section.features > div >main {
    position: relative;
    width: 40%;
    top: -12em;
    display: inline-block;
}

section.features > div >h2{
    width: 80%;
    margin: 3rem 0;
    text-align: center;
}

section.features > div > main > div{
    width: 100%;
    margin: 3rem 0 4rem 0;
}

section.features > div > main > div > h3{
    font-size: 1.5rem;
    margin: 1rem 0;
}

section.features > div > main > div > p{
    font-weight: 300;
    word-spacing: .1rem;
    line-height: 1.3rem;
}

section.features > div > aside{
    width: 50%;
    display: inline-block;
}

section.features > div > aside > div.illustration{
    position: relative;
    top: -20%;
    left: -35%;
}
section.features > div > aside > div >img{
    position: relative;
    left: -30%;
    width: 120%;
}

footer{
    background: var(--dbblue);
    padding: 2rem 0;
    border-radius: 0 5rem 0 0;
    margin-top: 4rem;
}

footer > div{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer > div > ul{
    width: 70%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer > div > ul > li > a{
    font-weight: 700;
    padding-bottom: 2rem;
}

footer > div > ul > li > ul{
    list-style-type: none;
    margin: 2rem 0;
}

footer > div > ul > li > ul > a > li{
    margin: .9rem 0;
}










@media screen and (max-width: 1025px) {
    section.features > div > main{
        top: -7rem;
    }
}


@media screen and (max-width: 769px) {
    nav > div.logo {
        width: 15%;
    }
    nav > div:nth-child(2){
        width: 82%;
    }
    nav > div > ul{
        width: 55%;
    }
    nav > div:nth-child(2) > div.register{
        width: 40%;
    }
    section.about > div > div > h2{
        order: 1;
        width: 100%;
    }
    section.about > div > div{
        width: 100%;
        flex-direction: column-reverse;
    }
    section.about > div > div > main{
        width: 100%;
    }
    section.about > div > div > aside{
        display: block;
        width: 100%;
    }
    div.illustrator-editor{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    div.illustrator-editor > img{
        width: 100%;
        height: auto;
    }
    section.sfeature{
        margin: 5rem auto;
        max-height: max-content;
    }
    section.sfeature > div > div{
        width: 90%;
        margin: 0 auto;
    }
    section.sfeature > div > div:nth-child(2){
        width: 100%;
    }
    section.features{
        margin: 3rem auto;
    }
    section.features > div > main{
        position: static;
        width: 80%;
        margin: 0 10%;
    }
    section.features > div > aside{
        width: 100%;
        margin: 0 auto;
    }
    section.features > div > aside > div > img{
        position: static;
        width: 100%;
    }
}


@media screen and (max-width: 600px){
    div.mobilenav{
        display: flex;
        align-self: center;
    }
    nav > div.logo {
        width: 25%;
    }
    nav > div.logo > img{
        width: 70%;
    }
    nav > div:nth-child(2){
        display: none;
    }
    footer > div > *{
        width: 100%;
    }
    footer > div > div.logo{
        margin: 1rem 0;
    }
    footer > div > ul{
        width: 100%;
    }
}


@media screen and (max-width: 426px) {
    header{
        border-radius: 0 0 0 5rem;
        background-position-x: 36%;
        background-position-y: 30%;
        background-size: 355%;
        
    }
    header:before {
        background:linear-gradient(140deg, var(--vlred) 30%, var(--lred));
    }
    div.hero{
        width: 100%;
        margin: 4.5rem 0;
    }
    div.hero div.register{
        width: 95%;
    }
    section.about > div:nth-child(1){
        width: 85%;
    }
    footer{
        text-align: center;
    }
    footer > div > ul > li{
        width: 100%;
        margin: 1rem 0;
    }
}